

#mc_embed_signup form {
    padding:0 !important;
}
@font-face { font-family: JamesFajardo; src: url('james-fajardo.ttf'); } 

.header h1 {
    padding: 16px 0;
}
.logo{
    font-family: 'Roboto';
    letter-spacing: 20px;
}
body{
	font-family: 'Montserrat', sans-serif !important;
}
.hero {
    background-color: rgb(89,89,89);
    color: white;
    font-family: 'JamesFajardo';
    font-size: 20px;
    letter-spacing: 4px;
}
a {
    color: #FA978F;
    text-decoration: none;
}

a:hover {
    color: #f26157;
    border-bottom: 1px dashed #a3a3a3;
}

/* ------------- Header ------------- */

.jumbotron {
    background: #fff url('hero.jpg') no-repeat center center;
    /* YESS NATALIE - Removed `background-attachment: fixed;` per @proofofnatalie */
    background-size: cover;
    /* This is the new stuff that fixed my problem */
    height: 90vh; /* YES NATALIE @proofofnatalie and @artisticdork for vh height... thanks @jodyferry for the 80vh suggestion so content peeks at the bottom! */ 
    display: flex; /* Thank you @darthkoder */
    justify-content: center; /* I owe these flexbox thingies to @Skillcrush */
    align-items: center;
}
input {
    width: 300px !important;
    border-radius: 4px;
}
.logo{
	font-family: 'Roboto';
    font-size:40px;
    padding: 12px 0;
}
.hero-contents {
    text-align: left;
}

.hero-contents a:hover {
  border-bottom: none;
  opacity: 0.8;
}

.hero-contents img {
    max-width: 70%;
}

.hero-contents .description {
    margin: 20px 30px;
}

.point {
padding: 20px;
}
.selling-points h3{
    font-size: 18px;
}
.selling-points p{
    font-size: 12px;
    color: rgb(89,89,89);
}
.selling-points .text{
    margin-left: 80px;
    margin-top: 40px;
    z-index:9;
}
.selling-points img {
    position:absolute;
    display:block;
    max-width: 20%;
    height: auto;
    top: 0;
    left:5%;
    z-index: -5;
}
.about {
    background-color: rgb(240,240,240);
        padding-top:50px;
    padding-bottom:200px;

}
.about {
font-size:12px;

}
.about h3 {
    font-size: 18px;
    font-weight:bold;
    padding: 16px 0;
}
.about h4 {
    font-size: 18px;
    font-weight:bold;
    padding: 16px 0;
}
.about h5 {
    font-size: 18px;
    font-weight:bold;
}
.about a {
    color:black;
}
div#headingOne{margin-bottom:20px;}
div#headingTwo{margin-bottom:20px;}
div#headingThree{margin-bottom:20px;}
.about a:hover{
    text-decoration:none !important;
    font-weight:bold !important;
    cursor:default !important;
}
#accordion .right {
    right: 15px;
    position: absolute;
}
.about .point {
    border-bottom: 1px solid;
    padding: 8px 0;
    font-size:12px;
    margin-bottom: 20px;
}
.cta.clear.subscribe_clear {
    float: right;
    margin-right: 14px;
}
.follow {
    padding-top: 4px;
    padding-left: 8px;
}
.social-media {
    padding: 15px;
}
.cta {
    padding: 40px 0;
}
.cta h4 {
    padding: 16px 0;
}
.footer {
    padding: 80px 0;
    background-color: rgb(51,51,51)
}
.footer > * {
    color:white !important;
}
.footer a {
    color:white;
}
.about a:hover{
    text-decoration:none !important;
    font-weight:bold !important;
    cursor:default !important;
}
.screen {
    background-color: black;
    opacity: .2;
    position: absolute;
    /* top: 50%; */
    width: 100%;
    z-index: 0;
    height: 90vh;
    background-color:black; 
    position:absolute; 
}

.copyright {
    font-size:12px;
}