

#mc_embed_signup form {
    padding:0 !important;
}
.header {
    padding-bottom:300px;
}
.header h1 {
    padding: 16px 0;
}
.logo{
	font-family: 'Roboto';
}
body{
	font-family: 'Montserrat', sans-serif !important;
}
.hero {
    background-color: rgb(89,89,89);
    color: white;
    padding-bottom:200px;
}
.selling-points {
    padding-top: 100px;
    padding-bottom:100px;
}
.selling-points h3{
    font-size: 18px;
}
.selling-points p{
    font-size: 12px;
    color: rgb(89,89,89);
}
.selling-points .text{
    margin-left: 40px;
    margin-top: 40px;
}
.selling-points img {
    position:absolute;
    display:block;
    max-width: 20%;
    height: auto;
    top: 0;
    left:0;
}
.about {
    padding-top:100px;
    background-color: rgb(240,240,240);
    padding-bottom:300px;
}
.about h4 {
    font-size: 18px;
    font-weight:bold;
    padding: 16px 0;
}
.about a {
    color:black;
}
.about a:hover{
    text-decoration:none !important;
    font-weight:bold !important;
    cursor:default !important;
}
#accordion .right {
    right: 15px;
    position: absolute;
}
.about .point {
    border-bottom: 1px solid;
    padding: 8px 0;
}
.cta.clear.subscribe_clear {
    float: right;
    margin-right: 14px;
}
.follow {
    padding-top: 4px;
    padding-left: 8px;
}
.social-media {
    padding: 4px 0;
}
.cta {
    padding: 80px 0;
}
.cta h4 {
    padding: 16px 0;
}
.footer {
    background-color: rgb(51,51,51)
}
.footer > * {
    color:white !important;
}
.footer a {
    color:white;
}
.about a:hover{
    text-decoration:none !important;
    font-weight:bold !important;
    cursor:default !important;
}
.footer {
    padding: 80px 0;
}
.copyright {
    font-size:12px;
}